@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --redColor: #c2373c;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-color: #4b5563;
  width: 100%;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-card > img {
  height: 80px;
  width: 100px;
  margin-left: 130px;
  border-radius: 10%;
  object-fit: contain;
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 40s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-track {
    animation: slide 10s linear infinite;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.li-fix::before {
  content: "";
  margin-left: -0.5rem;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: oklch(0.666 0.179 58.318);
  animation: 4s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
